# _This notebook is to develop the tasks of the Applied Data Science Capstone Course._

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Segmenting and Clustering Neighborhoods in Toronto.

### **1.Import packages and build a soup function**

In [40]:
from bs4 import BeautifulSoup
import re
import requests
import bs4
import pandas as pd
origin = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(origin, 'lxml')

### **2.Get the table from the url**

In [43]:
table = soup.find('table', class_ = "wikitable sortable")
df = pd.read_html(str(table))[0]
column_name = df.loc[[0]]
list = df.drop([0])
list.columns = column_name = ["Postcode", "Borough", "Neighbourhood"]
list.head()

  Postcode           Borough                     Neighbourhood
1      M2A      Not assigned                      Not assigned
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto         Regent Park, Harbourfront
5      M6A        North York  Lawrence Manor, Lawrence Heights

### **3.Ignore Borough column that is not assigned**

In [44]:
list1 = list[-list.Borough.isin(['Not assigned'])]
list1.head()

  Postcode           Borough                                Neighbourhood
2      M3A        North York                                    Parkwoods
3      M4A        North York                             Victoria Village
4      M5A  Downtown Toronto                    Regent Park, Harbourfront
5      M6A        North York             Lawrence Manor, Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### **4.Replace the Neighbourhood that is not assigned with Borough**

In [45]:
import numpy as np
list1['Neighbourhood'][list1['Neighbourhood'] == 'Not assigned'] = list1['Borough']
list1.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/generic.py:8682: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

  Postcode           Borough                                Neighbourhood
2      M3A        North York                                    Parkwoods
3      M4A        North York                             Victoria Village
4      M5A  Downtown Toronto                    Regent Park, Harbourfront
5      M6A        North York             Lawrence Manor, Lawrence Heights
6      M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

### **5.Duplicate process**

In [46]:
group = list1.groupby(['Postcode', 'Borough'], as_index = False).agg({'Neighbourhood': ['sum']})
group.head()

  Postcode      Borough                           Neighbourhood
                                                            sum
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [47]:
print (group.columns.size)

3

In [48]:
type(group)

pandas.core.frame.DataFrame

In [50]:
group.columns = column_name
print(group.head())
print(group.shape)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae
(103, 3)

In [51]:
for i in group['Neighbourhood']:
    ','.join(i)

In [52]:
group.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [54]:
dfPostalToronto.shape

(178, 3)